/* .home-page {
  background-image: url(https://th.bing.com/th/id/OIP.O73Y1TuI3W27wiM0kMrgDAAAAA?pid=ImgDet&w=202&h=147&c=7&dpr=1.5);

  background-size: cover;
  height: 100vh;
  width: 100%;
} */
/* .home-container {
  background: rgba(0, 0, 0, 0.658);
} */

.add-link{
    text-decoration: none;
}
